<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>ERROR DESCONOCIDO</h1>
  <p>500 - Hay un problema desconocido con el servidor no es posible ejecutar la acción</p> 
  <a href="/start" class="btn btn-warning">Ir a Agenda</a>
</div>